# Bicycle Accidents in Great Britain (1979 to 2018)

Data related to the Bicycle accidents that took place in Great Britain 1979-2018

EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
accidents = pd.read_csv('data/accidents.csv', low_memory=False)
bikers = pd.read_csv('data/bikers.csv', low_memory=False)

In [3]:
accidents.head()

,Accident_Index,Number_of_Vehicles,Number_of_Casualties,Date,Time,Speed_limit,Road_conditions,Weather_conditions,Day,Road_type,Light_conditions
0,197901A1SEE71,2,1,1979-01-01,18:20,50.0,Snow,Unknown,Monday,Dual carriageway,Darkness lights lit
1,197901A2JDW40,1,1,1979-02-01,09:15,30.0,Snow,Unknown,Tuesday,Unknown,Daylight
2,197901A4IJV90,2,1,1979-04-01,08:45,30.0,Snow,Unknown,Thursday,Unknown,Daylight
3,197901A4NIE33,2,1,1979-04-01,13:40,30.0,Wet,Unknown,Thursday,Unknown,Daylight
4,197901A4SKO47,2,1,1979-04-01,18:50,30.0,Wet,Unknown,Thursday,Unknown,Darkness lights lit

In [5]:
bikers.head()

  Accident_Index Gender Severity   Age_Grp
0  197901A1SEE71   Male  Serious  36 to 45
1  197901A2JDW40   Male   Slight  46 to 55
2  197901A4IJV90   Male   Slight  46 to 55
3  197901A4NIE33   Male   Slight  36 to 45
4  197901A4SKO47   Male   Slight  46 to 55

In [6]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827861 entries, 0 to 827860
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Accident_Index        827861 non-null  object
 1   Number_of_Vehicles    827861 non-null  int64
 2   Number_of_Casualties  827861 non-null  int64
 3   Date                  827861 non-null  object
 4   Time                  827861 non-null  object
 5   Speed_limit           827861 non-null  float64
 6   Road_conditions       827861 non-null  object
 7   Weather_conditions    827861 non-null  object
 8   Day                   827861 non-null  object
 9   Road_type             827861 non-null  object
 10  Light_conditions      827861 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 69.5+ MB

In [7]:
bikers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827871 entries, 0 to 827870
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Accident_Index  827871 non-null  object
 1   Gender          827871 non-null  object
 2   Severity        827871 non-null  object
 3   Age_Grp         827871 non-null  object
dtypes: object(4)
memory usage: 25.3+ MB

In [8]:
accidents.describe()

       Number_of_Vehicles  Number_of_Casualties    Speed_limit
count       827861.000000         827861.000000  827861.000000
mean             1.986178              1.047212      33.340934
std              0.311600              0.253509       9.278129
min              1.000000              1.000000       0.000000
25%              2.000000              1.000000      30.000000
50%              2.000000              1.000000      30.000000
75%              2.000000              1.000000      30.000000
max             13.000000             60.000000     660.000000